@page "/"
@using Cloud.Data
@using Microsoft.Extensions.Logging
@inject ILogger<Index> Logger
@{
    if (Static.Client != null)
        Static.Client.OnSyncStatusChangesAction = OnSyncStatusChanges;
    if (Static.Client != null)
        Static.Client.OnCommunicationErrorEvent = OnCommunicationErrorEvent;
}
<PageTitle>Index</PageTitle>

<h1>Cloud</h1>
<h3>Welcome to your Cloud Client Panel</h3>

@if (!Static.IsAdmin)
{
    <div class="alert alert-danger" role="alert">
        For correct operation, the application must be run as an administrator.<br />
        The role is required to keep the system date up to date and to generate hard links during backup.
    </div>
}

@if (Static.Client?.IsLogged == true)
{
    <button class="btn btn-primary my-3" @onclick="Logout">Logout</button>
}
else
{
    <button class="btn btn-primary my-3" @onclick="Exit">Exit</button>

    <SurveyPrompt Title="Connection to the cloud server" />

    <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="QR">QR code</label>
        <InputText id="QR" class="form-control" @bind-Value="loginModel.QR" />

        <label for="Pin">Pin</label>
        <InputText type="@TxtType" class="form-control" id="Pin" @bind-Value="loginModel.Pin" />

        <span class='e-icons e-input-eye' @onclick="ShowPassword"></span>
        <button class="btn btn-primary" type="submit">Submit</button>
    </EditForm>
}

<br />
<label id="ErrorComunication" class="card">@ErrorComunication</label>
<br />


<br />
<label id="SyncStatus" class="card" style="background-color: @SyncStatusColor">@SyncStatus</label>
<br />

<pre>@Status</pre>

<br />

<style>
    .e-input-eye:before {
        content: '\01F441';
        /*        font-family: e-icons; */
        font-size: 32px;
    }
</style>


@functions {

    private void Logout()
    {
        Static.Client?.Logout();
    }

    private void Exit()
    {
        Environment.Exit(0);
    }

    public void ShowPassword()
    {
        if (this.TxtType == "password")
        {
            this.TxtType = "text";
        }
        else
        {
            this.TxtType = "password";
        }
    }

    bool RefreshStatus()
    {
        OldStatus = Status;
        Status = Static.Client?.Status;
        if (Status != OldStatus)
        {
            InvokeAsync(StateHasChanged);
        }
        return true;
    }

    System.Threading.Timer timer;

    void StartRefreshStatus()
    {
        timer = new System.Threading.Timer((object? state) =>
        {
            RefreshStatus();
        }, null, 1000, 1000);
    }

    private LoginModel loginModel = new();

    void OnSyncStatusChanges(CloudSync.Sync.SynchronizationStatus syncStatus, int pendingFiles)
    {
        SyncStatus = "Sync status: " + syncStatus.ToString();
        if (syncStatus == CloudSync.Sync.SynchronizationStatus.Synchronized)
        {
            SyncStatusColor = "green";
        }
        else
        {
            SyncStatusColor = "red";
        }
    }

    void OnCommunicationErrorEvent(CommunicationChannel.Channel.ErrorType errorId, string description) => ErrorComunication = errorId.ToString() + " (" + description + ")";

}

@code {
    public Index()
    {
        Status = Static.Client == null ? null : Static.Client.Status;
        StartRefreshStatus();
    }
    string? Status;
    string? OldStatus;
    static string? SyncStatus;
    static string? SyncStatusColor;
    static string? ErrorComunication;

    string TxtType = "password";

    private void HandleValidSubmit(EditContext editContext)
    {
        var form = editContext.Model as Cloud.Data.LoginModel;
        var pin = form.Pin;
        var qr = form.QR;
        Static.Login(qr, pin);
    }
}
